<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>

    <div class="container">
        <h1>Login</h1>
        <form action="{% url 'login' %}?next={{ request.GET.next }}" method="post" class="form-control w-50">
            {% csrf_token %}
            {% if has_error %}
                <p>Invalid username or password</p>
            {% endif %}
            <div>
                <label for="" class="form-label">Username</label>
                <input type="text" name="username" id="username" class="form-control">
            </div>

            <div>
                <label for="" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control">
            </div>

        <button type="submit" class="btn btn-outline-success mt-3">Login</button>
        </form>
    </div>

</body>
</html>