{% load static %}
<nav class="navbar navbar-expand-lg navbar-light main-nav" style="background-color: #e3f2fd;">
    <h3 class="navbar-brand to-do" href="#" style="color: #666666; margin-left: 15px"><strong>To Do</strong></h3>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse nav-bar" id="navbarSupportedContent">
  <div>
  </div>
      {% include 'partials/sidebar.html' %}
          {% if not user.is_authenticated %}
              <div>
                <a href="{% url 'login' %}?next={{ request.GET.next }}" class="btn btn-outline-secondary" aria-current="page">Login</a>
                <a href="{% url 'register' %}?next={{ request.GET.next }}" class="btn btn-outline-primary" aria-current="page" style="margin-right: 100px;">Sign Up</a>
              </div>
                {% else %}
                  <div style="margin-right: 200px">
                       <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false" style="color: #ff6600; font-weight: bold;">
                                Hello, {{ request.user.username }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'user_detail' %}" style="color: #ff6600; font-weight: bold;">Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'user_edit' %}" style="color: #ff6600; font-weight: bold;">Edit Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'change_password' %}" style="color: #ff6600; font-weight: bold;">Change Password</a></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}?next={{ request.GET.next }}" style="color: #ff6600; font-weight: bold;">Log-out</a></li>
                            </ul>
                        </li>

{#                      User: {{ user.username }}#}
{#                      <a href="{% url 'logout' %}?next={{ request.GET.next }}" class="btn btn-outline-danger" aria-current="page" style="margin-right: 100px;">Logout</a>#}
                  </div>
          {% endif %}

  </div>


</nav>