
<form class="form-inline" style="height: 45px" method="get">
        {% csrf_token %}
        <ul>
            <li class="list-group-item list-group-item-action d-flex justify-content-between main-search mt-5" style="margin-top: 3px">
                <input type="search" name="search" class="form-control" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-secondary" id="button-addon2" style="margin-left: 10px">Search</button>
            </li>
        </ul>
</form>