{% load static %}
{% if request.user.is_authenticated %}
    <i class='bx bx-menu menu' id="toggle-menu" onclick="toggleSidebar()"></i>
{% endif %}
<div class="sidebar" id="sidebar">
    <div class="my-menu">
        <a href="{% url 'my_day_view' %}">
            <i class='bx bx-sun'></i>
            <span>My Day</span>
        </a>
    </div>

    <div class="my-menu">
        <a href="{% url 'important_list' %}">
            <i class='bx bx-star'></i>
            <span>Important</span>
        </a>
    </div>

    <div class="my-menu">
        <a href="{% url 'plans_view' %}">
            <i class='bx bx-notepad'></i>
            <span>Planned</span>
        </a>
    </div>

    <div class="my-menu">
        <a href="{% url 'project_list' %}">
            <i class='bx bx-ghost'></i>
            <span>Projects</span>
        </a>

    </div>
</div>
