{% load static %}
<form action="{{ action_url }}" method="POST">
                    {% csrf_token %}
                 <div class="row p-3">
                        <div class="col col-11 mx-auto">
                             <div class="w-50">
                            {% for error in non_field_errors %}
                                <p class="form-error">{{ error }}</p>
                            {% endfor %}

                            </div>
                            <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center add-task">
                                <div class="col w-50 form-add">
                                    {% if form %}
                                        <input type="text" class="form-control w-50" id = "titleInput" name = "title" placeholder="+  Add a task">

                                        <button type="button"  id="addDescription" class="btn btn-secondary" style="display: none; margin-left: 20px;">Add description</button>

                                        <button type="button" id="addPlan"  class="btn btn-outline-secondary" style="position: relative; margin-left: 10px">Connect with plan</button>

                                            <select class="form-select select-status" name="status" style="width: auto; position: relative; margin-left: 25px">
                                                    <option value="Started">Started</option>
                                                <option value="In progress">In progress</option>
                                                <option value="Done">Done</option>
                                                <option value="Forgotten">Forgotten</option>
                                            </select>
                                    {% else %}
                                     <div>
                                        <h2>We are sorry, there is some error on server</h2>
                                     </div>
                             {% endif %}

                                </div>

                                <div class="col-auto px-0 mx-0 mr-2">
                                    <button type="submit" class="btn btn-outline-success">Add</button>
                                </div>
                            </div>
                        </div>
                 </form>
                    <div class="w-100">
                        <form action="" method="GET" class="d-flex align-items-center">
                            <div style="display:flex; flex-wrap: wrap; gap: 10px; margin-left: 60px; margin-top: 20px" class="form-control w-25">
                                <div>
                                    <select name="sort_by" class="form-select form-select-sm" id="sort_by" style="height: 40px">
                                        <option value="" selected disabled>Select</option>
                                        <option value="status">Status</option>
                                        <option value="status-reverse">Status reverse</option>
                                        <option value="created_at">Date</option>
                                        <option value="title">title</option>

                                       </select>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-secondary">Sort</button>
                                </div>
                            </div>
                            {% include 'partials/search.html' %}
                        </form>
                    </div>

                            <div class="plan" id="plan" style="display: none; margin-left: 60px; margin-top: 20px; margin-bottom: 20px">
                                    <p class="mb-2">{{ form.plan.label }}</p>
                                    <select name="plan" class="form-select">
                                        {% for plan in plans %}
                                            <option value="{{ plan.pk }}">{{ plan.title }}</option>
                                        {% endfor %}
                                    </select>
                            </div>

                     <div class="description form-description" id="description" style="display: none; margin-left: 60px; margin-top: 20px">
                         {{ form.description }}
                     </div>
</div>
{#<script src="{% static 'js/main.js' %}"></script>#}