{% load static %}
{% for task in tasks %}
    <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center" style="margin-top: 10px;" data-task-id="{{ task.id }}">
        <div class="col w-50 form-add" id="tasks-{{ task.id }}">
            <div class="tasks">
                <div class="form-check">
                    {% if is_manager or is_lead or is_dev or not task.project %}
                        <input class="form-check-input class-task-title" type="checkbox" value="" id="flexCheckDefault_{{ task.id }}" data-task-id="{{ task.id }}">
                    {% endif %}
                    <label class="form-check-label" for="flexCheckDefault_{{ task.id }}">
                        <div class="task-title" id="task-title-{{ task.id }}">
                            {{ task.title }}
                        </div>
                    </label>
                </div>
                <button type="button" class="btn btn-light task-description-btn font-for-all" data-task-id="{{ task.id }}" id="task-description-{{ task.id }}" style="font-weight: lighter; text-decoration: none">More info</button>
                {% if task.status == 'Started' %}
                <button type="button" class="btn btn-outline-primary" id="task-status">
                    {{ task.status }}
                </button>
            {% elif task.status == 'In progress' %}
                <button type="button" class="btn btn-outline-info" id="task-status">
                    {{ task.status }}
                </button>
            {% elif task.status == 'Done' %}
                <button type="button" class="btn btn-outline-success" id="task-status" >
                    {{ task.status }}
                </button>
            {% elif task.status == 'Forgotten' %}
                <button type="button" class="btn btn-outline-danger" id="task-status">
                    {{ task.status }}
                </button>
            {% elif not task.status %}
                <button type="button" class="btn btn-outline" id="task-status">
                    No status
                </button>
            {% endif %}

                {% if is_manager or is_dev or is_lead or not task.project %}
                    <a href="{% url 'task_delete' task.pk %}" class="delete-task-btn" data-task-id="{{ task.id }}" style="margin-left: 0; position: relative">
                        <i class='bx bx-trash' id="icons-trash"></i>
                    </a>
                    <a href="{% url 'important' task.id %}">
                        {% if task.check_important %}
                            <i class='bx bxs-star' id="icons" style='color:#e8d667'></i>
                        {% else %}
                            <i class='bx bx-star' id="icons"></i>
                        {% endif %}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="form-control w-50 font-for-all" id="task-description--{{ task.id }}" style="display: none; margin-left: 60px; margin-top: 5px; font-weight: lighter; text-decoration: none; justify-content: space-between">
        {{ form.description.label }}
        <p class="text-success">{{ task.description|default:"Empty" }}</p>
        {% if is_manager or is_dev or is_lead or not task.project %}
            <div id="task-update-container-{{ task.id }}" style="display: block">
                {% include 'task_update.html' %}
            </div>
        {% endif %}
    </div>
{% endfor %}
</div>
<script src="{% static 'js/main.js' %}"></script>
