{% if not fields_only %}
    <form action="{{ action_url }}" method="{{ form_method }}" enctype="multipart/form-data">
    {% csrf_token %}
{% endif %}

    {% for errors in form.non_field_errors %}
        <p class="text-danger">{{ errors }}</p>
    {% endfor %}

    {% for field in form %}
        <div class="form-group">
            <div class="input-group mb-3">
                <span class="input-group-text">{{ field.label }}</span>
                {{ field }}
            </div>
        </div>

        {% for errors in field.errors %}
            <p class="text-danger">{{ errors }}</p>
        {% endfor %}

    {% endfor %}

{% if not fields_only %}
    <button type="submit" class="btn btn-outline-success">{{ button_text|default:"Submit" }}</button>
    </form>
{% endif %}