{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Change Password</h1>
                    {% include 'partials/user_forms.html' with form_method='POST' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
