{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'user_edit' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'partials/user_forms.html' with form=form fields_only=True %}
                        {% include 'partials/user_forms.html' with form=profile_form fields_only=True %}
                        <button type="submit" class="btn btn-outline-success mt-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
