{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <h1 class="text-center">Login</h1>
                <form action="{% url 'login' %}?next={{ request.GET.next }}" method="post" class="form-control">
                    {% csrf_token %}
                    {% if has_error %}
                        <p style="color: red">Invalid username or password!</p>
                    {% endif %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" name="username" id="username" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" id="password" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-outline-success btn-block mt-3">Login</button>
                    <a href="{% url 'register' %}" class="btn btn-outline-primary btn-block mt-3">Register</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
