{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <h1 class="text-center">Registration</h1>
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <form action="{% url 'register' %}?next={{ request.GET.next }}" method="post">
                        {% csrf_token %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}

                        {% for error in form.errors %}
                                <p class="text-danger">{{ error }}</p>
                        {% endfor %}

                        <div class="form-group mb-3">
                            <label for="id_username">Username:</label>
                            <input type="text" name="username" id="username" class="form-control">
{#                            {{ form.username }}#}
                        </div>

                        <div class="form-group mb-3">
                            <label for="id_password">Password:</label>
                            <input type="password" name="password" id="password" class="form-control">
{#                            {{ form.password }}#}
                        </div>

                        <div class="form-group mb-3">
                            <label for="id_password_confirm">Password Confirm:</label>
                            <input type="password" name="password_confirm" id="password_confirm" class="form-control">
{#                            {{ form.password_confirm }}#}
                        </div>

                        <div class="form-group mb-3">
                            <label for="id_first_name">First Name:</label>
                            <input type="text" name="first_name" id="first_name" class="form-control">
{#                            {{ form.first_name }}#}
                        </div>

                        <div class="form-group mb-3">
                            <label for="id_last_name">Last Name:</label>
                            <input type="text" name="last_name" id="last_name" class="form-control">
{#                            {{ form.last_name }}#}
                        </div>

                        <div class="form-group mb-3">
                            <label for="id_email">Email:</label>
                            <input type="text" name="email" id="email" class="form-control">
{#                            {{ form.email }}#}
                        </div>

                        <button type="submit" class="btn btn-outline-success btn-block mt-4">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
