
.main{
    background-color: #faf9f8;
}

.main-search{
    margin: 15px;
    /*margin-left: 400px;*/
    justify-content: space-between;
}
.nav-bar{
    margin-left: 600px;
    justify-content: space-between;
}
.to-do{
    color: gray;
}
.main-nav{
    padding: 5px;
}
.header{
    display: flex;
    flex-wrap: wrap;
}
.time{
    font-family: 'Roboto', Arial, sans-serif;
    color: #616161;
    font-size: 12px;
    margin-left: 13px;
}

.header-front{
    margin: 55px;
}
.header-front2{
    margin-top: -170px;
    margin-left: 230px;
}

.my-day{
    color: #444444;
    margin-left: 30px;
}

.menu{
    position: absolute;
    margin: 30px;
    cursor: pointer;
}

#sidebar {
    height: 100%;
    width: 300px; /* Adjust width as needed */
    position: fixed;
    z-index: 1;
    top: 60px;
    left: -300px; /* Set initial left position */
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    /*padding-top: 60px;*/
    padding: 30px;
    padding-top: 90px;
    margin-top: -2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  #content {
    transition: margin-left 0.5s;
  }
.my-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}
.my-menu:hover{
    background-color:  #e3f2fd;
}
.column{
    display: flex;
    flex-wrap: wrap;
}

.add-task{
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.add-button{
    background: white;
    border: none;
    font-weight: lighter;
    font-size: 23px;
    margin-top: -15px;
    height: 10px;
}
.content-add{
    display: flex;
    flex-wrap: wrap;
}
.add-new{
    font-weight: lighter;
    font-size: 20px;
}

.form-add{
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
}
.tasks{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.task-title{
    width: 650px;
    text-decoration: none;
}
.font-for-all{
    font-weight: lighter;
    font-size: 19px;
}
.pagination a, .pagination .page-disabled {
    display: inline-block;
    border: solid 1px #6a7ddd;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
}

.pagination a {
    background: #6a7ddd;
    color: white;
    text-decoration: none;
}

.pagination a:hover {
    background: #6a7dff;
    text-decoration: underline;
}

.pagination .page-disabled {
    background: #6a7dcc;
    color: #dddddd
}

.pagination .current-page {
    display: inline-block;
}

.pagination .current-page input {
    width: 50px;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 5px;
    text-align: center;
    border: solid 1px gray;
}

.edit-btn{
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 5px;
}
.edit{
    display: block;
}

a{
    text-decoration: none !important;
    color: inherit !important;
}

#task-status{
    font-weight: lighter;
    /*text-decoration: none;*/
    width: 140px;
}

#icons{
    /*color:#ff0000;*/
    font-size: 25px;
    margin-left: 100px
}
#icons-trash{
    color: #ff0000;
    font-size: 25px;
    margin-left: 250px
}
#toggle-menu{
    color:#67c1d8;
    font-size: 25px;
    z-index: 2;
    margin-left: -650px;
    margin-top: 175px;
}

.list-group-item{
    cursor: pointer;
}
#planss{
    background-color: lightskyblue;
}
.list-group-item:hover{
    background-color: #c4dce8;
}

.card{
    margin: 10px;
}

.plan-bottom{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}
.plans-row{
    display: block;
    clear: both;
}

#createForm{
    margin-left: 500px;
}
.sidebar.active {
    left: 0;
}

.my-menu {
    padding: 20px;
    /*border-bottom: 1px solid #eee;*/
}

.my-menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
}

.my-menu a:hover {
    background-color: #f0f0f0;
}

.my-menu a i {
    margin-right: 10px;
    font-size: 20px;
}

.my-menu a span {
    margin-top: -3px;
    font-size: 16px;
}


/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #e3f2fd;
    color: black;
    text-align: center;
    padding: 40px 0;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

section {
    padding: 40px 0;
}

h2 {
    margin-top: 0;
}

.advantage {
    margin-bottom: 40px;
}

.advantage h3 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

#images {
    padding: 40px 0;
}

.image-container {
    width: 50%;
    float: left;
    padding: 10px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

/* How to Use Section Styles */
#how-to-use ol {
    list-style-type: decimal;
    padding-left: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
    header h1 {
        font-size: 24px;
    }

    section {
        padding: 20px 0;
    }

    .image-container {
        width: 100%;
    }
}

