{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section id="welcome" class="py-5">
        <div class="container text-center">
            <h1 class="mb-4">Welcome to Our To-Do List App</h1>
            <p class="lead">Stay organized and productive with our easy-to-use to-do list application. Whether you're managing tasks for work, school, or personal life, our app has you covered.</p>
        </div>
    </section>

    <section id="advantages" class="bg-light py-5">
        <div class="container">
            <h2 class="text-center mb-4">Advantages of Our To-Do List App</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title">Easy to Use</h3>
                            <p class="card-text">Intuitive user interface allows you to quickly add, edit, and mark tasks as complete.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title">Organize Tasks Effectively</h3>
                            <p class="card-text">Create multiple lists, prioritize tasks, and set due dates to manage your workload efficiently.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title">Access Anywhere</h3>
                            <p class="card-text">Access your to-do lists from any device with internet connection, whether it's your computer, tablet, or smartphone.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="how-to-use" class="py-5">
        <div class="container">
            <h2 class="text-center mb-4">How to Use Our To-Do List App</h2>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">Sign up for an account or log in if you already have one.</li>
                <li class="list-group-item">Create a new to-do list or select an existing one.</li>
                <li class="list-group-item">Add tasks to your list by clicking the "Add Task" button.</li>
                <li class="list-group-item">Mark tasks as complete by checking the checkbox next to them.</li>
                <li class="list-group-item">Edit or delete tasks as needed.</li>
                <li class="list-group-item">Stay organized and productive!</li>
            </ol>
        </div>
    </section>

    <section id="images" class="py-5 bg-light shadow-sm">
        <div class="container">
            <div class="col">
                <div class="row-md-6 mb-4" style="border: 1px black solid; border-radius: 5px">
                    <img src="{% static 'img/img1.png' %}" class="img-fluid rounded" alt="Image 1">
                </div>
                <div class="row-md-6 mb-4" style="border: 1px black solid; border-radius: 5px">
                    <img src="{% static 'img/img2.png' %}" class="img-fluid rounded" alt="Image 2">
                </div>
            </div>
        </div>
    </section>

    <footer class="bg-dark text-white py-4">
        <div class="container text-center">
            <p>&copy; 2024 To-Do List App. All rights reserved.</p>
        </div>
    </footer>
{% endblock %}
