{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="header-front" id="content">
                <div class="header">
                    <h5 class="my-day">My Day</h5>
                </div>
                <div class="time">
                        <p id = "datetime" class = "time"></p>
                </div>
        {% include 'partials/task_create.html'%}

        {% include 'partials/tasks.html' %}

        {% include 'partials/pagination.html' %}
                            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                            <script>
                                $(document).ready(function() {
                                    $('.edit-btn').on('click', function(event) {
                                        event.preventDefault();
                                        var taskId = $(this).data('task-id');
                                        $('#task-update-container-' + taskId).toggle();
                                    });
                                });
                            </script>
    </div>
{% endblock %}
