{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="header-front" id = "content">
    <div style="text-align: center; margin: 10px">
        <h2>Important tasks!</h2>
    </div>
    {% for task in important_list %}
        {% if task %}
                      <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center" style="margin-top: 10px;" data-task-id="{{ task.id }}">
                               <div class="col w-50 form-add" id="tasks-{{ task.id }}">
                                    <div class="tasks">
                                        <div class="form-check">
                                            <input class="form-check-input class-task-title" type="checkbox" value="" id="flexCheckDefault" data-task-id="{{ task.id }}">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                <div class="task-title" id="task-title-{{ task.id }}">
                                                    {{ task.title }}
                                                </div>
                                            </label>
                                        </div>
                                        <button type="button" class="btn btn-light task-description-btn font-for-all" data-task-id = "{{ task.id}}" id = "task-description-{{ task.id }}" style="font-weight: lighter; text-decoration: none">More info</button>
                                    {% if task.status == 'Started' %}
                                        <button type="button" class="btn btn-outline-primary" id="task-status">
                                             {{ task.status }}
                                        </button>
                                        {% elif task.status == 'In progress' %}
                                            <button type="button" class="btn btn-outline-info" id="task-status">
                                                {{ task.status }}
                                            </button>
                                        {% elif task.status == 'Done' %}
                                            <button type="button" class="btn btn-outline-success" id="task-status" >
                                                {{ task.status }}
                                            </button>
                                        {% elif task.status == 'Forgotten' %}
                                            <button type="button" class="btn btn-outline-danger" id="task-status">
                                                {{ task.status }}
                                            </button>
                                    {% endif %}
                                        <a href="{% url 'task_delete' task.pk %}" class="delete-task-btn" data-task-id="{{ task.id }}" style="margin-left: 0px; position: relative">
                                            <i class='bx bx-trash' id="icons-trash"></i>
                                        </a>
                                        <a href="">
                                            {% if task.check_important %}
                                                 <a href="{% url 'important' task.id %}"><i class='bx bxs-star' id="icons" style='color:#e8d667'></i></a>

                                                {% else %}
                                                    <a href="{% url 'important' task.id %}"><i class='bx bx-star' id="icons"></i></a>
                                            {% endif %}
                                        </a>

                                    </div>
                                </div>
                        </div>

                             <div class="form-control w-50 font-for-all" id="task-description--{{ task.id }}" style="display: none; margin-left: 60px; margin-top: 5px; font-weight: lighter; text-decoration: none; justify-content: space-between">
                                 {{ form.description.label }}
                                     {{ task.description }}
                                 {% if not task.description %}
                                        Empty
                                 {% endif %}
                                     <a href="{% url 'task_update' task.pk %}" class="btn btn-outline-primary edit-btn" data-task-id = {{ task.id }}>Edit</a>
                     </div>

                     <div id="task-update-container-{{ task.id }}" style="display: none">
                        {% include 'task_update.html' %}
                    </div>
            {% else %}
                <h2>You didn't add important tasks yet</h2>
        {% endif %}


    {% endfor %}
    </div>

{% endblock %}