{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="content">
            <h2 class="header-front">All plans</h2>
            <form action="{% url 'plans_view' %}" method="POST">
            {% csrf_token %}
                <a href="#" class="btn btn-outline-success header-front2" id="create-plan">+ Create new plan</a>
                <div style="display: none" id="createForm">
                    <div class="form-control w-50">
                        {{ form.as_p }}
                        <button type="submit" name="plans" class="btn btn-outline-success">Create</button>
                    </div>
                </div>
            </form>
            <div class="header-front plan-bottom" >
                {% for plan in plans %}
        {#            {{ plan }}#}
                    <div class="plans-row">
                        <div class="card" style="width: 18rem;">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" id="planss">{{ plan.title }}</li>
                                {% for plan_task in plan_tasks %}
                                    {% if plan_task.plan.title == plan.title %}
                                        <li class="list-group-item">{{ plan_task.task }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const createPlan = document.getElementById('create-plan');
            const createForm = document.getElementById('createForm');

            createPlan.addEventListener('click', function (event) {
                event.preventDefault();
                createForm.style.display = (createForm.style.display === 'block') ? 'none' : 'block';
            });
        });
    </script>
{% endblock %}
