<div style="margin: 55px">
    <form action="{% url 'task_update' task.pk %}" method="post" id="update-task-form">
        {% csrf_token %}
        <div class="edit" id="edit-task-{{ task.id }}" data-task-id="{{ task.id }}">
            <div class="form-control" id="content" style="margin-top: 5px; font-weight: lighter;">
                <div class="mb-3">
                    <label for="titleInput" class="form-label">Title:</label>
                    <input type="text" class="form-control" id="titleInput" name="title" placeholder="+ Add a task" value="{{ task.title }}">
                </div>
                <div class="mb-3">
                    <label for="statusSelect" class="form-label">Status:</label>
                    <select class="form-select" name="status" id="statusSelect">
                        <option value="Started">Started</option>
                        <option value="In progress">In progress</option>
                        <option value="Done">Done</option>
                        <option value="Forgotten">Forgotten</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="descriptionInput" class="form-label">Description:</label>
                    <textarea class="form-control" id="descriptionInput" name="description" rows="3" placeholder="Enter description">{{ task.description }}</textarea>
                </div>
                <div class="mb-3">
                    <label for="planSelect" class="form-label">Plan:</label>
                    <select name="plan" class="form-select" id="planSelect">
                        {% for plan in plans %}
                            <option value="{{ plan.pk }}">{{ plan.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-outline-success">Edit</button>
            </div>
        </div>
    </form>
</div>
