{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Create Project</h2>
                        <form method="post" class="mt-4">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class="form-group">
                                {{ form.name.label_tag }}
                                {{ form.name }}
                                <small class="form-text text-muted">Enter project name</small>
                                {{ form.name.errors }}
                            </div>
                            <div class="form-group">
                                {{ form.description.label_tag }}
                                {{ form.description }}
                                <small class="form-text text-muted">Enter project description</small>
                                {{ form.description.errors }}
                            </div>

                        <button type="button" id="btn1" class="btn btn-outline-success">Managers</button>

                            <div class="form-group" id="manager" style="display: none">
                                <label for="members">Choose managers:</label>
                                {{ form.managers }}
                                <small class="form-text text-muted">Choose the managers</small>
                            </div>

                        <button type="button" id="btn2" class="btn btn-outline-success">Leaders</button>
                            <div class="form-group" id="leader" style="display: none">
                                <label for="members">Choose leaders:</label>
                                {{ form.leads }}
                                <small class="form-text text-muted">Choose the leads</small>
                            </div>

                        <button type="button" id="btn3" class="btn btn-outline-success">Developers</button>
                            <div class="form-group" id="developer" style="display: none">
                                <label for="members">Choose developers:</label>
                                {{ form.developers }}
                                <small class="form-text text-muted">Choose the devs</small>
                            </div>

{#                            {{ form.as_p }}#}
                            {% for errors in form.errors %}
                                {{ errors }}
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let managerBtn = false

        $("#btn1").click(function (event){
            event.preventDefault();
            event.stopPropagation();
            managerBtn = !managerBtn
            if (managerBtn) {
                $("#manager").css('display', 'block');
            } else{
                $("#manager").css('display', 'none');
            }
        })

        let leaderBtn = false

        $("#btn2").click(function (event){
            event.preventDefault();
            event.stopPropagation();
            leaderBtn = !leaderBtn
            if (leaderBtn) {
                $("#leader").css('display', 'block');
            } else{
                $("#leader").css('display', 'none');
            }
        })

        let developerBtn = false

        $("#btn3").click(function (event){
            event.preventDefault();
            event.stopPropagation();
            developerBtn = !developerBtn
            if (developerBtn) {
                $("#developer").css('display', 'block');
            } else{
                $("#developer").css('display', 'none');
            }
        })
    </script>
{% endblock %}
