{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Confirm Project Deletion</h2>
                    <p>Are you sure you want to delete the project "{{ projects.name }}"?</p>
{#                    {{ projects.pk }}#}
                    <form method="POST" action="{% url 'project_delete' projects.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <a href="{% url 'project_detail' projects.pk %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
