{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container py-5 bg-dark">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body text-left">
                        <h1 class="card-title">{{ project.name }}</h1>
                        <p class="text-success">Your position: {% if is_manager %}Manager{% elif is_lead %}Lead{% elif is_dev %}Developer{% else %}You are no member{% endif %}</p>
                        <p class="card-text">Description: {{ project.description }}</p>
                        <p class="card-text"><strong>Created at:</strong> {{ project.created_at }}</p>
{#                        <p class="card-text"><strong>Members:</strong>#}
{#                            {% for member in project.members.all %}#}
{#                                {{ member.username }}{% if not forloop.last %}, {% endif %}#}
{#                            {% endfor %}#}
{#                        </p>#}
                    <p class="card-text"><strong class="text-danger">Owner & Manager: </strong>{{ project.owner }}</p>
                    </div>

                <div class="card-body text-center">
                    <div class="card-body mb-3">
                        {% if is_manager %}
                            <a href="{% url 'project_update' project.pk %}" class="btn btn-outline-secondary">Edit</a>
                            <a href="{% url 'project_delete' project.pk %}" class="btn btn-outline-danger">Delete</a>
                            {% elif is_lead %}
                                <a href="{% url 'project_update' project.pk %}" class="btn btn-outline-secondary">Edit</a>
                                {% else %}
                                <p class='text-warning'>only Managers and Leads can manage this project</p>
                        {% endif %}
                    <button type="button" class="btn btn-outline-warning" id="staff">See the staff</button>
                    </div>
                        </div>
                <div id="staff_part" style="display: none; gap: 10px">
                    {% if project.managers.all %}
                        <strong>Managers:</strong>
                        <ul>
                            {% for manager in project.managers.all %}
                                <li  class="text-success">{{ manager.username }}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <strong>Managers:</strong>
                            <ul>
                                <li class="text-danger">No Managers</li>
                            </ul>
                    {% endif %}
                    {% if project.leads.all %}
                        <strong>Leaders:</strong>
                        <ul>
                            {% for lead in project.leads.all %}
                                <li class="text-success">{{ lead.username }}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <strong>Leads:</strong>
                            <ul>
                                <li class="text-danger">No Leaders</li>
                            </ul>
                    {% endif %}
                    {% if project.developers.all %}
                        <strong>Developers:</strong>
                        <ul>
                            {% for developer in project.developers.all %}
                                <li class="text-success">{{ developer.username }}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <strong>Developers:</strong>
                        <ul>
                            <li class="text-danger">No Developers</li>
                        </ul>
                    {% endif %}
                </div>
                </div>
            </div>
        </div>
    </div>
    {% if task_form.errors %}
        <div class="alert alert-danger">
            <strong>Error!</strong> There were some errors with your form submission.
        </div>
    {% endif %}


    {% if is_manager or is_lead or is_dev %}
        {% include 'partials/task_create.html' %}
    {% endif %}
    {% include 'partials/tasks.html' %}
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        let staffBtn = false
        $("#staff").click(function(event){
            event.preventDefault();
            event.stopPropagation();

            staffBtn = !staffBtn
            if(staffBtn){
                $("#staff_part").css('display','flex')
            } else{
                $("#staff_part").css('display','none')
            }

        })
    </script>
{% endblock %}
