{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid py-5 text-center bg-dark cut-bg">
        <h2 class="text-light mb-4">Welcome to Our Projects</h2>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="{% url 'project_create' %}" class="btn btn-outline-success btn-lg btn-block mb-4 text-secondary" >Create Project</a>
            </div>
        </div>

            <div class="row justify-content-center">
                {% for project in projects %}
                    <a href="{% url 'project_detail' project.pk %}">
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="card border-0 shadow">
                                <div class="card-body">
                                    <h5 class="card-title text-primary">{{ project.name }}</h5>
                                    <p class="card-text text-muted">{{ project.description }}</p>
                                    <p class="card-text"><strong>Created at:</strong> {{ project.created_at }}</p>
                                    <p class="card-text"><strong>Members:</strong>
                                        {% for member in project.members.all %}
                                            {{ member.username }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </p>
                                    <a href="" class=""></a>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
    </div>
{% endblock %}
