{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'project_update' project.pk %}" method="post">
        {% csrf_token %}
        <div class="container py-5 bg-dark">
            <div class="row justify-content-center">
                <div class="col-md-8">

                    <div class="card">
                        <h2 class="text-warning" >Updating the project</h2>
                        <div class="card-body">

                            <h2 class="card-title">{{ form.name }}</h2>
                            <p class="card-text">{{ form.description }}</p>
{#                            <p class="card-text"><strong>Created at:</strong> {{ form.created_at }}</p>#}
                            <p class="card-text"><strong>Members:</strong>
                                {{ form.members }}
                            </p>
                            <button type="submit" class="btn btn-outline-success">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
